.main-container {
  font-family: 'Roboto', sans-serif;
  background-color: #FFFFFF;
  color: black;
  height: 90vh;
  width: 70vw;
  margin: 5vh 5vw;
  padding: 20px;
}

.titre-home {
  font-size: 40px;
}

.txt-intro{
  font-size: 20px;

}

.txt-txt {
  font-size: 18px;
}

.txt-question {
}

.rooms-container {
  display: flex;
  flex-direction: column;
}

.rooms {
  border: 1px solid var(--ligthBlue);
  background-color: #fff;
  padding: 5px;
  margin: 10px;
}

.rooms:hover {
  border: 1px solid var(--darkBlue);
  cursor: pointer;
}

.rooms:focus {
  background-color: var(--ligthBlue);
  color: #fff;
}

.button-sub {
  border: 1px solid var(--ligthBlue);
  background-color: var(--ligthBlue);
  color: #fff;
  padding: 12px;
  cursor: pointer;
}

.button-sub:hover {
  border: 1px solid var(--darkBlue);
  background-color: var(--darkBlue);
  color: #fff;
  cursor: pointer;
}

.button-sub:focus {
  background-color: var(--ligthBlue);
}