/* body {
  background-image: url('../../assets/imageonline-co-resizedimage.png');    
  position:fixed;
  background-repeat: no-repeat;
  background-size: 150%;
  width: 100%;
  height: 100%;
} */

.main-container {
  font-family: 'Roboto', sans-serif;
  background-color: #FFFFFF;
  color: black;
  height: 100vh;
  width: 70vw;
  margin: 5vh 5vw;
  padding: 20px;
}

.titre-home {
  font-size: 40px;
}

.txt-intro{
  font-size: 20px;

}

.txt-txt {
  font-size: 18px;
}

.txt-question {
}

.rooms {
  border: 1px solid var(--ligthBlue);
  padding: 5px;
  margin: 10px;
  /* background-color: var(--ligthBlue); */
}

.rooms:hover {
  border: 1px solid var(--darkBlue);
  cursor: pointer;
}

.button-sub {
  border: 1px solid var(--ligthBlue);
  padding: 12px;
  background-color: var(--ligthBlue);
  cursor: pointer;
}


/* @media screen and (min-width: 600px) {
  body {
      background-size: cover;

  
  }
} */