.main-container1 {
    background-color: #FFFFFF;
    color: black;
    height: 100%;
    width: 90vw;
    margin: 5vh 5vw;
    padding-bottom: 1rem;
}
 
 .option-container1 {
     color: black;
     width: 90%;
     height: auto;
     margin: 2rem auto;
 }

 .option-container2 {
     padding: 1rem;
     margin: 1rem;
 }

 .option-container3 {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

 .products-container1 {
    display: flex;
    font-size: 0.75rem;
    margin-bottom: 1rem;
    flex-direction: column;
 }

 .product-container2 img{
    width: 4rem;
}

.product-container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

label[for="name"] {
    font-weight: bold;
    font-size: 1em;
}

button{
    cursor: pointer;
}
